<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'cdn.html' %}
    <style>
    body{
      background:url(https://images.unsplash.com/photo-1633180888652-c561b86040f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
  </head>
  <body>
    <div class="conatiner">
      <div class="row">
        <div class="offset-md-3 col-md-5">
          <center>
            <h3 style="margin-top:180px;"> WELCOME TO HOME PAGE </h3>
            <button type="submit" name="exist" class="btn btn-lg btn-outline-primary" style="margin-top:75px;"><a href="#" style="text-decoration:none; color:black;"> Existing User </a></button><br><br>
            <button type="submit" name="new" class="btn btn-lg btn-outline-success"><a href="{% url 'register' %}" style="text-decoration:none; color:black;"> New User </a></button>
            </center>


        </div>

      </div>

    </div>

  </body>
</html>
